{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="card w-100 login-card" style="max-width: 420px;">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Log In</h5>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error.messageKey }}
                    </div>
                {% endif %}
                <form method="post">
                    <input type="hidden" name="token" value="{{ csrf_token('authorize') }}"/>

                    <div class="mb-3">
                        <label for="email" class="form-label">E-mail address</label>
                        <input type="text" class="form-control" name="email" id="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100 mt-3">Log in</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
