.login-card {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s;
}

.login-card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

/**
    USER PAGE
 */
.user-panel {
    max-width: 90%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}

.user-panel h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-panel .row > div {
    padding: 15px;
}

.user-panel .info-card {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 10px;
    transition: transform .2s;
    margin-top: 3.8rem;
}

.user-panel .info-card:hover {
    transform: scale(1.02);
}

.user-panel p {
    font-weight: 600;
    margin-bottom: 0;
}

.table {
    margin-top: 30px;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}

/**
    CAR INDEX
 */
.car-panel {
    max-width: 95%;
    margin: 2rem auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform .2s;
}

.car-panel:hover {
    transform: scale(1.02);
}

.car-panel h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}

.btn {
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.1);
}

/**
    NAVBAR
 */

.navbar {
    background-color: #343a40;
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: #212529;
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #a1a1a1;
}

.navbar-text {
    margin-left: auto;
}

/**
    RENT FORM
 */
.rent-form {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.rent-form .form-group {
    margin-bottom: 1.5rem;
}

.delete-form {
    display: inline-block;
}

.delete-form button {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.delete-form button:hover {
    background-color: #c82333;
    border-color: #bd2130;
}


