{%  include '/common/header.html.twig' %}


    {{ form(form) }}

    {% if rent is defined %}
    {{ rent.car }}
    {{ rent.rentDate|date('Y-m-d')}}
    {% endif %}


{% include '/common/footer.html.twig' %}