<form method="post" action="{{ path('app_admin_add_manu') }}">
    <div class="mb-3">
        <label for="manu-name" class="form-label">Manufacturer Name</label>
        <input type="text" name="manu-name" id="manu-name" class="form-control" required="required">
    </div>
    <button class="btn btn-primary">Add new manufacturer</button>
</form>