{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
    <h1>Add Manufacturer</h1>

    {{ include('manufacturer/_form.html.twig') }}

    <a href="{{ path('app_admin') }}" class="btn">back to list</a>
{% endblock %}
