<form method="post" action="{{ path('app_car_delete', {'id': car.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
