{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .car-details {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 2rem;
            margin-bottom: 2rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .car-details h1 {
            font-size: 1.8rem;
            color: #343a40;
            margin-bottom: 1.5rem;
        }

        .car-details th {
            width: 30%;
            font-weight: bold;
            color: #6c757d;
        }

        .car-details td {
            color: #212529;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="bg-light mp-4 p-4 car-details">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
