<form method="post" action="{{ path('app_rent', { 'carId': car.id}) }}" class="rent-form">
    <div class="form-group">
        <label for="rented-at" class="form-label">Rent Date</label>
        <input type="datetime-local" name="rentedAt" id="rented-at" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="returned-at" class="form-label">Return Date</label>
        <input type="datetime-local" name="returnedAt" id="returned-at" class="form-control" required>
    </div>

    <button class="btn btn-primary">Rent This Car</button>
</form>
