{% for car in cars %}
    <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.costPerMinute }}</td>
        <td>{{ car.carId }}</td>
        <td>{{ car.createdAt ? car.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
        <td>{{ car.updatedAt ? car.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
        <td>{{ car.manufacturer.name ?? '' }}</td>
        <td>{{ car.model }}</td>
        <td>
            <a href="{{ path('app_car_show', {'id': car.id}) }}" class="btn btn-primary">Show</a>
            {% if is_granted('CAR_EDIT', car) %}
                <a href="{{ path('app_car_edit', {'id': car.id}) }}" class="btn btn-secondary">Edit</a>
            {% endif %}
        </td>
    </tr>
{% else %}
    <tr>
        <td colspan="8">No records found</td>
    </tr>
{% endfor %}
