{% extends 'base.html.twig' %}

{% block title %}Edit Car{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background: linear-gradient(to right, #f8f9fa, #e9ecef);
            padding-top: 70px;
        }
        h2 {
            margin-left: 1.5rem;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Editing {{ car.manufacturer.name }} {{ car.carId }}</h2>

    {{ include('car/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('app_car_index') }}" class="btn btn-primary">Back to list</a>

    {{ include('car/_delete_form.html.twig') }}
{% endblock %}
