{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="car-panel">
            <h1>Car Index</h1>
            <div class="mb-3">
                <label for="manufacturer-filter" class="form-label">Manufacturer</label>
                <select name="manufacturer" id="manufacturer-filter" class="form-select">
                    <option value="">All Manufacturers</option>
                    {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer.id }}" {% if selectedManufacturer == manufacturer.id %}selected{% endif %}>{{ manufacturer.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="sort-filter" class="form-label">Sort By</label>
                <select name="sort" id="sort-filter" class="form-select">
                    <option value="">None</option>
                    <option value="asc" {% if selectedSort == 'asc' %}selected{% endif %}>Price (Low to High)</option>
                    <option value="desc" {% if selectedSort == 'desc' %}selected{% endif %}>Price (High to Low)</option>
                </select>
            </div>
            <table class="table table-striped" id="car-table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Cost Per Minute</th>
                    <th>CarId</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="car-table-body">
                {% for car in cars %}
                    <tr>
                        <td>{{ car.id }}</td>
                        <td>{{ car.costPerMinute }}</td>
                        <td>{{ car.carId }}</td>
                        <td>{{ car.createdAt ? car.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                        <td>{{ car.updatedAt ? car.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                        <td>{{ car.manufacturer.name ?? '' }}</td>
                        <td>{{ car.model }}</td>
                        <td>
                            <a href="{{ path('app_car_show', {'id': car.id}) }}" class="btn btn-primary">Show</a>
                            {% if is_granted('CAR_EDIT', car) %}
                                <a href="{{ path('app_car_edit', {'id': car.id}) }}" class="btn btn-secondary">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_car_new') }}" class="btn btn-primary">Create New</a>
            {% endif %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const manufacturerFilter = document.getElementById('manufacturer-filter');
            const sortFilter = document.getElementById('sort-filter');
            const carTableBody = document.getElementById('car-table-body');  // change this line

            function updateCarList() {
                const selectedManufacturer = manufacturerFilter.value;
                const selectedSort = sortFilter.value;

                $.ajax({
                    url: '{{ path('app_car_index') }}',
                    method: 'GET',
                    data: {
                        manufacturer: selectedManufacturer,
                        sort: selectedSort
                    },
                    success: function(response) {
                        carTableBody.innerHTML = response;  // change this line
                    },
                    error: function(xhr, status, error) {
                        console.error('Error: ' + error);
                    }
                });
            }

            manufacturerFilter.addEventListener('change', updateCarList);
            sortFilter.addEventListener('change', updateCarList);
        });
    </script>
{% endblock %}
