{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}

    <div style="margin-top: 3.5rem">
        <h1>Add a new car</h1>
    </div>
    {{ include('car/_form.html.twig') }}

    <a href="{{ path('app_car_index') }}">back to list</a>
{% endblock %}
