{% extends 'base.html.twig' %}

{% block title %}Car Detail{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .car-details {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
            padding: 2rem;
            margin-bottom: 2rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .car-details h1 {
            font-size: 1.8rem;
            color: #343a40;
            margin-bottom: 1.5rem;
        }

        .car-details th {
            width: 30%;
            font-weight: bold;
            color: #6c757d;
        }

        .car-details td {
            color: #212529;
        }

        .button-group {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }

        .delete-form {
            display: inline-block;
        }

        .delete-form button {
            color: #fff;
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .delete-form button:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

        .rent-form {
            margin-top: 2rem;
        }

        .rent-form .form-group {
            margin-bottom: 1.5rem;
        }

        .rent-form .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .rent-form .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

        .car-details {
            margin-top: 2rem; /* Add margin to the top of the card */
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 2rem;
            margin-bottom: 2rem;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }

        .button-group {
            display: flex;
            justify-content: flex-start; /* Align buttons to the start of the container */
            gap: 1rem;
            margin-top: 1rem;
            margin-left: 1.65rem;
            transform: translateX(-1px);
        }

        .button-group .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .button-group .btn-primary:hover {
            background-color: #0069d9;
            border-color: #0062cc;
        }

        .button-group .btn-rent {
            margin-left: auto; /* Push the Rent This Car button to the right */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="car-details">
            <h1>Car Details</h1>

            <table class="table">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ car.id }}</td>
                </tr>
                <tr>
                    <th>Cost Per Minute</th>
                    <td>{{ car.costPerMinute }}</td>
                </tr>
                <tr>
                    <th>Registration</th>
                    <td>{{ car.carId }}</td>
                </tr>
                <tr>
                    <th>Created At</th>
                    <td>{{ car.createdAt ? car.createdAt|date('Y-m-d H:i:s T') : '' }}</td>
                </tr>
                <tr>
                    <th>Updated At</th>
                    <td>{{ car.updatedAt ? car.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                </tr>
                <tr>
                    <th>Manufacturer</th>
                    <td>{{ car.manufacturer.name ?? '' }}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{ car.model }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="button-group">
            <a href="{{ path('app_car_index') }}" class="btn btn-primary">Back to List</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_car_edit', {'id': car.id}) }}" class="btn btn-light">Edit</a>
                {{ include('car/_delete_form.html.twig') }}
            {% endif %}
        </div>

        {{ include('car/_rent_form.html.twig') }}
    </div>
{% endblock %}

