{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table-actions {
            text-align: right;
        }

    </style>
{% endblock %}

{% block title %}Car index{% endblock %}

{% block body %}

    <h1 class="mb-5">Admin Panel</h1>

    <h5>Manufacturers</h5>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.id }}</td>
                <td>{{ manufacturer.name }}</td>
                <td class="table-actions">
                    <form method="post" action="{{ path('app_admin_delete_manu', {'id': manufacturer.id}) }}"
                          onsubmit="return confirm('Are you sure you want to delete this item? This will delete all the cars with this manufacturer');"
                          style="display: inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manufacturer.id) }}">
                        <button class="btn btn-outline-danger mb-2">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_new_manu') }}" class="btn btn-outline-primary">Create new</a>
{% endblock %}
