{% extends 'base.html.twig' %}

{% block title %}User Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background: linear-gradient(to right, #f8f9fa, #e9ecef);
            padding-top: 70px; /* Adjust this value as needed */
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="user-panel">
            <div class="row">
                <div class="col-md-6">
                    <h3>Welcome, {{ app.user.firstName }}!</h3>
                    <div class="info-card">
                        <p>Email: <strong>{{ app.user.email }}</strong></p>
                        <p>First Name: <strong>{{ app.user.firstName }}</strong></p>
                        <p>Last Name: <strong>{{ app.user.lastName }}</strong></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Your Car Rents:</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Registration</th>
                            <th>Cost Per Minute</th>
                            <th>Rented At</th>
                            <th>Return By</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rentCar in rentCars %}
                            <tr>
                                <td>{{ rentCar.car.carId }}</td>
                                <td>{{ rentCar.car.costPerMinute }}</td>
                                <td>{{ rentCar.rentedAt ? rentCar.rentedAt|date('Y-m-d H:i') : '' }}</td>
                                <td>{{ rentCar.returnedAt ? rentCar.returnedAt|date('Y-m-d H:i') : '' }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}